SPRING_DATASOURCE_DRIVER_CLASS_NAME = com.mysql.cj.jdbc.Driver
SPRING_JPA_DATABASE_PLATFORM        = org.hibernate.dialect.MySQL8Dialect
DB_HOST                             =
DB_PORT                             =
SPRING_JPA_HIBERNATE_DDL_AUTO       =
PORT_EXPOSE_SPRING                  =
SPRING_DATASOURCE_USERNAME          =
SPRING_DATASOURCE_PASSWORD          =
JWT_PRIVATE_KEY                     =
AWS_S3_BUCKET                       =
AWS_S3_REGION                       =
DB_NAME                             =
APP_DATA_SEED_ENABLED               =

DATABASE                            =
DATABASE_PASSWORD                   =
PORT_EXPOSE_MYSQL                   =
